.table-col--xs {
    width: 80px;
}

.table-col--sm {
    width: 120px;
}

.table-col--md {
    width: 140px;
}

.table-col--lg {
    width: 220px;
}

.table-col--xl {
    width: 260px;
}

.text-center {
    text-align: center;
}

.list-compact {
    margin: 0;
    padding-left: 18px;
}

.list-compact-lg {
    margin: 0;
    padding-left: 20px;
}

.link-underline {
    text-decoration: underline;
}
